* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Bungee Shade';
  src: local("Bungee Shade"), url(fonts/BungeeShade-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Fugaz One';
  font-weight: 300;
  src: local("Fugaz One"), url(fonts/FugazOne-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Rock Salt';
  font-weight: 200;
  src: local("Rock Salt"), url(fonts/RockSalt.ttf) format("truetype"); }

@font-face {
  font-family: 'Knewave', cursive;
  src: local("Knewave"), url(fonts/Knewave-Regular.ttf) format("truetype"); }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
