/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-Jump_left_000 {
  background-image: url(Jump_left.png);
  background-position: 0px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_001 {
  background-image: url(Jump_left.png);
  background-position: -330px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_002 {
  background-image: url(Jump_left.png);
  background-position: -660px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_003 {
  background-image: url(Jump_left.png);
  background-position: -990px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_004 {
  background-image: url(Jump_left.png);
  background-position: -1320px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_005 {
  background-image: url(Jump_left.png);
  background-position: -1650px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_006 {
  background-image: url(Jump_left.png);
  background-position: -1980px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_007 {
  background-image: url(Jump_left.png);
  background-position: -2310px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_008 {
  background-image: url(Jump_left.png);
  background-position: -2640px 0px;
  width: 330px;
  height: 466px;
}
.icon-Jump_left_009 {
  background-image: url(Jump_left.png);
  background-position: -2970px 0px;
  width: 330px;
  height: 466px;
}
